<h1> Welcome! <%= @vendor.username %> </h1>
<p>
   <%= link_to "Manage Products", vendor_path%>
</p>
<p>
   <%= link_to "Manage Orders", vendor_manage_orders(@vendor.id) %>
</p>
<p>
   <%= link_to "Create a new Category", new_category_path %>
</p>
