<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<body>

  <h1 class="welcome"> Welcome, <%= @vendor.username%> </h1>

  <img class="top-image" src="https://unsplash.it/600/400/?random">


    <p class="manage-buttons">

      <%= link_to "Manage Products", vendor_path, :class => "button" %>
    </p>
    <p class="manage-buttons">
      <%= link_to "Manage Orders", manage_orders_path, :class => "button" %>
    </p>
    <p class="manage-buttons">
      <%= link_to "Create a new Category", new_category_path, :class => "button" %>
    </p>
