<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<body>

  <h1 class="welcome"> Welcome, <%= @vendor.username%> </h1>

  <img class="top-image" src="https://unsplash.it/600/400/?random">


  <p class="button round manage">
     <%= link_to "Manage Products", vendor_path%>
  </p>

  <p class="button  manage">
     <%= link_to "Manage Orders", manage_orders_path %>
  </p>

  <p class="button  manage">
     <%= link_to "Create a new Category", new_category_path %>
  </p>
