<h1> Welcome! <%= @vendor.username %> </h1>
<p>
   <%= link_to "Manage Products" %>
</p>
<p>
   <%= link_to "Manage Orders" %>
</p>
<p>
   <%= link_to "Create a new Category", new_category_path %>
</p>
