
  <h1>Vendors</h1>
  <% @vendors.each do |vendor| %>
  <div class="hero-image vendor-index-images">
    <%= link_to vendor_products_path(vendor.id) do %>
      <%= image_tag vendor.image_url %>
    <% end %>
    <div class="hero-content">
      <h2><%= vendor.username %></h2>
    </div>
  </section>
</div>
  <% end %>
