/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/


 @import url('https://fonts.googleapis.com/css?family=Yellowtail');



main, footer {
   padding: 45px;
 }

main, header, footer {
  padding: 45px;
}

header {
  padding: 30px, 45px, 15px, 45px;
  background-color: SmokeGrey;
}

footer {
  background-color: #f5f5f5;
  text-align: center;
}

.secondary {
  text-align: right;
  padding: 15px, 0px, 0px, 45px;
}

/* WIDE IMAGES
====================================== */

.hero-image {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 0;
}

.hero-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 100%);
  margin-top: -150px;
  height: 150px;
  width: 100%;
}

.hero-content {
  color: white;
  position: absolute;
  bottom: 45px;
  left: 60px;
  z-index: 10000;
}

.category-index-images, .vendor-index-images {
  padding-top: 5px;
}

/* HOMEPAGE SLIDER
====================================== */

.fullscreen-image-slider .orbit-image {
  width: 100%;
  height: 100vh;
}

.fullscreen-image-slider .orbit-caption {
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  background: none;
  text-align: center;
  color: #fefefe;
  font-weight: bold;
}

.flash {
  background-color: #f5f5f5;
  padding: 15px, 0px, 15px, 45px;
}


/* HEADER
====================================== */

#logo {
  color: black;
  font-family: 'Yellowtail', cursive;
  font-size: 72px;
  -ms-transform: rotate(-3deg); /* IE 9 */
  -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
  transform: rotate(-3deg);
  padding-bottom: 15px;
  padding-top: 30px;
}

h1#logo, ul.primary {
  text-align: center;
}

div .price {
  padding: 45px, 0px, 45px, 0px;
}

#block-quote p {
  hanging-punctuation: first;
}

nav ul {
  list-style-type: none;
}

ul.primary li {
  display: inline-block;
  padding: 0px 30px;
}

li.highlight a {
  color: #E24E42;
}

li.highlight a:hover {
  color: gray;
}

.prod-img-list {
  height: 200px;
  width: 200px;
}


img.top-image {
  /*margin-left:auto;
  margin-right:auto;*/
  display: block;
  margin: 0 auto;
}

a {
  color: gray;
}

.manage {
  position: relative;
  display: block;
  width: 80%;
  left: 9%;
  background-color: white

}

.manage:hover {
  background-color: white;

}

.welcome {
  text-align: center;
  color: darkgray;
  font-family: helvetica
}

.block {
  /*display: block;*/
  left: 10%;
}

.center {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

table.center {
  border: 1px solid gray;
}

#header {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

#center {
  text-align: center;
  color: #E9B000;
}

.addprod {
  background-color: #E9B000;
}

.medium-centered {
  margin-left: auto;
  margin-right: auto;
}
.review {
  width: 95%;
}
