/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/

main, header, footer {
  padding: 45px;
}

h1#title {
  padding-bottom: 20px;
}

h1#title, ul.primary {
  text-align: center;
}

nav ul {
  list-style-type: none;
}

ul.primary li {
  display: inline-block;
  padding: 0px 30px;
}

li.highlight a {
  color: #E24E42;
}

li.highlight a:hover {
  color: gray;
}

.prod-img-list {
  height: 200px;
  width: 200px;
}


img.top-image {
  /*margin-left:auto;
  margin-right:auto;*/
  display: block;
  margin: 0 auto;
}

a {
  color: gray;
}

.manage {
  position: relative;
  display: block;
  width: 80%;
  left: 9%;
  background-color: white

}

.welcome {
  text-align: center;
  color: darkgray;
  font-family: pacifico
}

.block {
  /*display: block;*/
  left: 10%;
}

.center {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

table.center {
  border: 1px solid gray;
}

#header {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

#center {
  text-align: center;
  color: #E9B000;
}

.addprod {
  background-color: #E9B000;
}

.medium-centered {
  margin-left: auto;
  margin-right: auto;
}
.review {
  width: 95%;
}
