/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/

main, header, footer {
  padding: 45px;
}

.prod-img-list {
  height: 200px;
  width: 200px;
}


img.top-image {
  height: 350px;
  width: 100%
}

a {
  color: gray
}

.manage {
  position: relative;
  display: block;
  width: 80%;
  left: 9%;
  background-color: white

}

.welcome {
  position: absolute;
  top: 35%;
  left: 20%;
  font-size: 100px;
  color: #E9B000;
  font-family: 'Pacifico', cursive;
}

.block {
  /*display: block;*/
  left: 10%
}

.center {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

table.center {
  border: 1px solid gray
}

#header {
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

#center {
  text-align: center;
  color: #E9B000
}

.addprod {
  background-color: #E9B000
}

.medium-centered {
  margin-left: auto;
  margin-right: auto;
}
.review {
  width: 95%;
}
