// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.top-image {
  height: 350px;
  width: 100%
}

a {
  color: gray
}

.manage {
  position: relative;
  display: block;
  width: 80%;
  left: 9%;
  background-color: white

}

.welcome {
  position: absolute;
  top: 35%;
  left: 20%;
  font-size: 100px;
  color: #E9B000;
  font-family: 'Pacifico', cursive;
}
