  <% @categories.each do |category| %>
  <div class="hero-image category-index-images">
    <%= link_to category_products_path(category.id) do %>
      <%= image_tag category.image_url %>
    <% end %>
    <div class="hero-content">
      <h2><%= category.name %></h2>
    </div>
  </section>
</div>
  <% end %>
