<main>
  <h1>Add a New Category</h1>
  <div class="row">
    <section class="small-12 large-8 columns">
      <%= form_for @category do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit :class => "button" %>
      <% end %>
    </section>
  </div>
</main>
