<h1>All Products</h1>
  <% @products.each do |product| %>
    <img src="<%product.photo_url%>" alt="<%product.name%>">
      <%= link_to product.name, product_path(product.id) %>
      <%= product.price %>
  <% end %>
